@model Assignment2.Models.TodoViewModels.IndexViewModel

@{
    ViewData["Title"] = "ActiveTodoes";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Add new todo</a>
    <a asp-action="Completed">See completed todos</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Task
                </th>
                <th>
                    Date Due
                </th>
                <th>
                    Time left
                </th>
                <th>
                    Mark as completed
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TodoItemModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLeft)
            </td>
            <td>
                @if (item.IsCompleted)
                {
                    <a asp-action="Completed">Mark as completed</a>
                }
                else
                {
                    <a asp-action="Completed">Remove from completed</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
